html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variables */

:root {
  --grey: #83869a;
  --dark-blue: #13183f;
  --dark-blue-hover: #666ca3;
  --pink: #ffa7c3;
  --pink-fluo: #f74780;
  --gradient-orange: linear-gradient(#ff6f48, #f02aa6);
  --gradient-purple: linear-gradient(#4851ff, #f02aa6);
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

/* global classes pre defined */

.headingXl {
  font-family: var(--font-jakarta);
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 0.8em;
  color: var(--dark-blue);
}

.headingL {
  font-family: var(--font-jakarta);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.8em;
  color: var(--dark-blue);
}

.headingM {
  font-family: var(--font-jakarta);
  font-size: 2rem;
  font-weight: 800;
  line-height: 0.8em;
  color: var(--dark-blue);
}

.headingS {
  font-family: var(--font-jakarta);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 0.8em;
}

.bodyM {
  font-family: var(--font-jakarta);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 0.64em;
  color: var(--grey);
}

.bodyMbold {
  font-family: var(--font-jakarta);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 0.64em;
}

.MoleculeGlobal_mg_Hz {
  margin-left: 16px;
  margin-right: 16px;
}

.heading {
  font-family: var(--font-jakarta);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.8em;
  color: var(--dark-blue);
  max-width: 326px;
}

.body {
  font-family: var(--font-jakarta);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6em;
  color: var(--grey);
  max-width: 400px;
  border: 1px solid red;
}

.mg-tp-bt-nav {
  margin-top: 16px;
  margin-bottom: 38px;
}

.mg_tp_bt_header {
  margin: 26px 0 24px 0;
}

.buttonFont {
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.57em;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url("../media/image-hero-mobile.webp");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 433px;
    background-position-x: -35px;
  }
}

/* tablet */
@media screen and (min-width: 500px) {
  body {
    background-image: url("../media/image-hero-tablet.webp");
    background-repeat: no-repeat;
    background-size: 585px;
    background-position-x: 50vw;
    background-position-y: -10vh;
  }

  .MoleculeGlobal_mg_Hz {
    margin-left: 39px;
    margin-right: 40px;
  }

  .mg-tp-bt-nav {
    margin-top: 24px;
    margin-bottom: 99px;
  }

  .body {
    font-size: 1rem;
  }
}

/* desktop */
@media screen and (min-width: 1000px) {
  .MoleculeGlobal_mg_Hz {
    margin-left: 165px;
    margin-right: 165px;
  }

  .mg-tp-bt-nav {
    margin-top: 24px;
    margin-bottom: 172px;
  }
}
