html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Variables */

:root {
  --grey: #83869a;
  --dark-blue: #13183f;
  --dark-blue-hover: #666ca3;
  --pink: #ffa7c3;
  --pink-fluo: #f74780;
  --gradient-orange: linear-gradient(#ff6f48, #f02aa6);
  --gradient-orange: linear-gradient(#ff6f48, #f02aa6);
  --gradient-purple: linear-gradient(#4851ff, #f02aa6);
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

/* global classes pre defined */

.headingXl {
  font-family: var(--font-jakarta);
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 0.8em;
}

.headingL {
  font-family: var(--font-jakarta);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.8em;
}

.headingM {
  font-family: var(--font-jakarta);
  font-size: 2rem;
  font-weight: 800;
  line-height: 0.8em;
}

.headingS {
  font-family: var(--font-jakarta);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 0.8em;
}

.bodyM {
  font-family: var(--font-jakarta);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 0.64em;
}

.bodyMbold {
  font-family: var(--font-jakarta);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 0.64em;
}

.MoleculeGlobal_mg_Hz {
  margin-left: 16px;
}

@media screen and (min-width: 500px) {
  .MoleculeGlobal_mg_Hz {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .MoleculeGlobal_mg_Hz {
    margin-left: 165px;
  }
}
